img {
	width: 100%;
}
h1 {
	text-shadow: 3px 3px 3px gray;
}
strong {
	display: block;
	margin: 40px 0 20px;
}
strong i {
	font-size: 20px;
	color: aliceblue;
}
span[role="img"] {
	font-style: normal;
}
.disclaimer {
	display: block;
	grid-column: 1 / span 2;
	text-align: center;
	font-size: 12px;
}
.message-board {
	box-sizing: border-box;
	padding: 100px;
	width: 100%;
	/* border: 30px ridge rgb(34, 34, 34); */
	box-shadow: inset 1px 1px 20px 10px rgba(0, 0, 0, 1);
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(51, 51, 51, 0.8));
	/* text-align: center; */
	text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

.message-container {
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}
.main-header {
	grid-column: 1 / span 2;
	text-align: center;
	font-size: 50px;
	color: seashell;
	text-shadow: 4px 4px 4px rgba(135, 207, 235, 0.5);

	width: 70%;
	margin: 0 auto 30px;
	border-bottom: 4px double silver;
}
.img-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.winner {
	border: 3px solid skyblue;
	/* background: linear-gradient(120deg, rgba(0, 128, 163, 0.3), rgba(144, 0, 167, 0.3), rgba(153, 1, 39, 0.3)); */
	padding: 40px;
	border-radius: 10px;
	text-align: center;
	grid-column: 1 / span 2;
	box-shadow: inset 1px 1px 10px 3px black;
}

.winner button {
	background: transparent;
	text-shadow: inherit;
	cursor: pointer;
	display: block;
	margin: 20px auto;
}

.pool {
	display: none;
	position: relative;
	max-width: 440px;
	margin: 10px auto;
	padding: 30px 20px 0px;
	border-radius: 10px;
	box-shadow: inset 1px 1px 5px 3px black;
	border: 1px solid skyblue;
}
.pool button {
	position: absolute;
	margin: 0;
	right: 6px;
	top: 6px;
}
.pool.open {
	display: block;
}
.pool-body {
	list-style: none;
	padding: 0;
	color: silver;
	/* overflow-x: scroll; */
	
}
.pool-body li {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}



@media only screen and (max-width: 1150px) {
	.img-container {
		grid-template-columns: 1fr;
	}
	.message-board {
		padding: 50px
	}
}
@media only screen and (max-width: 800px) {
	.message-board {
		padding: 25px
	}
	.message-container {
		gap: 15px
	}
}