@import '../../variables.css';
.button {
	font-family: var(--heading-font);
	color: seashell;
	letter-spacing: 2px;
	font-size: 30px;
	text-shadow: 2px 2px 5px gray;
	text-decoration: none;
	position: relative;
	padding: 20px;
	border-radius: 50%;
	transition: 0.8s;
	white-space: nowrap;
	z-index: 3;
}
.button.small {
	font-size: 22px;
	padding: 10px;
}
.button:hover {
	cursor: pointer;
	transform: scale(1.1);
	color: inherit;
}

.hero-container {
	height: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.grid-bg {
	width: 100vw;
	max-height: 20vw;
	position: absolute;
	bottom: 0;
	left: 0;
}

.title-haze {
	--haze-margin-top: -100px;
	--haze-margin-left: 7px;
	--move-amount: 0.7;
	width: 740px;
	position: absolute;
	margin-top: var(--haze-margin-top);
	margin-left: var(--haze-margin-left);
	animation: wiggle 20s infinite ease;
	animation-delay: 3s;
	max-width: 87%;
}
.title-main {
	width: 680px;
	margin-bottom: 90px;
	z-index: 1;
	transition: 0.7s;
	max-width: 80%;
}

.title-main:hover {
	cursor: pointer;
	transform: scale(1.05);
}
.title-main:active {
	transform: scale(1) translate(5px, 5px);
}
.title-main.on {
	filter: invert()
}

/* @keyframes buttonHover {
	from {	
		background-image: linear-gradient(120deg, rgb(63, 76, 80),rgb(60, 45, 63), rgb(47, 36, 39));
	}
	to{ 
		background-image: linear-gradient(120deg, rgb(0, 128, 163), rgb(144, 0, 167), rgb(153, 1, 39));
	}
} */
@keyframes wiggle {
	0% {
		margin-top: var(--haze-margin-top);
		margin-left: var(--haze-margin-left);
	}
	10% {
		margin-top: var(--haze-margin-top);
		margin-left: var(--haze-margin-left);
	}
	20% {
		margin-top: calc(var(--haze-margin-top) + (20px * var(--move-amount)));
		margin-left: calc(var(--move-amount) * (20px + var(--haze-margin-left)));
	}
	35% {
		margin-top: var(--haze-margin-top);
		margin-left: calc(var(--move-amount) * (-20px + var(--haze-margin-left)));
	}
	50% {
		margin-top: calc(var(--haze-margin-top) - (20px * var(--move-amount)));
		margin-left: calc(var(--move-amount) * (30px + var(--haze-margin-left)));
	}
	65%{
		margin-top: var(--haze-margin-top);
		margin-left: calc(var(--move-amount) * (-30px + var(--haze-margin-left)));
	}
	80% {
		margin-top: calc(var(--haze-margin-top) + (20px * var(--move-amount)));
		margin-left: calc(var(--move-amount) * (-20px + var(--haze-margin-left)));
	}
	90% {
		margin-top: var(--haze-margin-top);
		margin-left: var(--haze-margin-left);
	}
	100% {
		margin-top: var(--haze-margin-top);
		margin-left: var(--haze-margin-left)
	} 
}

@media only screen and (max-width: 1440px) {
	.button {
		font-size: 25px;
	}
	.button.small {
		font-size: 20px;
	}
	.title-haze {
		--move-amount: 0.55;
		--haze-margin-top: -97px;
		--have-margin-left: 5px;
		width: 650px
	}
	.title-main {
		width: 600px;
	}
}

@media only screen and (max-width: 800px) {
	.button {
		font-size: 23px;
	}
	.button.small {
		font-size: 18px;
	}
	.title-haze {
		--move-amount: 0.4;
		--haze-margin-top: -96px;
		width: 540px;
	} 
	.title-main {
		width: 500px;
	}
}
@media only screen and (max-width: 500px) {
	.button {
		font-size: 20px;
	}
	.title-haze {
		--move-amount: 0.2;
		--haze-margin-top: -93px;
		--haze-margin-left: 3px;
		width: 328px;
	}
	.title-main {
		width: 300px;
	}
}