body {
		font-family: Roboto, sans-serif;
		background-color: black;
		color: skyblue;
		font-size: 16px;
		box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: underline;
}

h1 {
	color: seashell;
	font-family: 'Zen Dots', cursive;
	font-size: 40px;
}
h2 {
	color: seashell;
	font-size: 30px;
}

i {
	font-size: 14px;
	color: silver;
}

button {
	background: transparent;
	border: none;
}

strong {
	font-size: 18px;
	color: aliceblue;
}
