@import './variables.css';
html {
	height: 100%;
}
body {
		font-family: var(--body-font);
		background-color: black;
		color: skyblue;
		font-size: 16px;
		box-sizing: border-box;
		height: 100%;
		margin: 0;
}
#root {
	height: 100%;
}

a {
	color: inherit;
	text-decoration: underline;
}

h1 {
	color: seashell;
	font-family: var(--heading-font);
	font-size: 40px;
}
h2 {
	color: seashell;
	font-size: 30px;
}

i {
	font-size: 14px;
	color: silver;
}

button {
	background: transparent;
	border: none;
	color: silver;
}

strong {
	font-size: 18px;
	color: aliceblue;
}

main {
	height: 100%;
}

.starz {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 1200px;
}

#c {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	filter: blur(4px) brightness(0.5);
}
